cpp_program:
  executable_path: 'scripts/cpu_version/OMP_FFT.exe'

settings:
  num_threads: 15           # Valore predefinito
  input_file: 'data/numbers_1024.txt'  # File di input predefinito

output:
  dettagli_csv: "results/tables/dettagli.csv"
  media_csv: "resultes/tables/medie.csv"

hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweeper:
    params:
      settings.input_file: data/numbers_134217728.txt
      settings.num_threads: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20